Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps. In the code cell below, use the print() function to print out the phrase: Hello, world!

In [1]:
print("Hello, world!")

Hello, world!

What is the value of z where z = x + y?

In [4]:
x,y =3,5
z=x+y
print(z)

8

use the type() function to check the object type of 12.0

In [6]:
print(type(12.0))
print(type('s'))
print(type(3))

<class 'float'>
<class 'str'>
<class 'int'>

What is the data type of the result of: 6 / 2?

In [15]:
print(type(7/2))
print(7//2)

3

What is the type of the result of: 6 // 2?

In [10]:
type(6//2)

int

What is the type of the result of: "Hello, World!"

In [8]:
type("Hello, World!")

str

What is the type of the result of: "hello" == "world"

In [9]:
type("hello" == "world")

bool

Write the code to convert this number representing financial value "1234.56" to a floating point number

In [10]:
float("1234.56")

1234.56

Write the code to convert this phone number 123-456-7890 to a string

In [11]:
str("123-456-7890")

'123-456-7890'

Write an expression to add 30 and 20 and subtract 40

In [12]:
30+20-40

10

What is the value of x where x = 3 + 2 * 2

In [13]:

x = 3 + 2 * 2
print(x)

7