<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# String Operations

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

*   Work with Strings
*   Perform operations on String
*   Manipulate Strings using indexing and escape sequences

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="https://#strings">What are Strings?</a>
        </li>
        <li>
            <a href="https://#index">Indexing</a>
            <ul>
                <li><a href="https://neg/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01">Negative Indexing</a></li>
                <li><a href="https://slice/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01">Slicing</a></li>
                <li><a href="https://stride/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01">Stride</a></li>
                <li><a href="https://concat/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01">Concatenate Strings</a></li>
            </ul>
        </li>
        <li>
            <a href="https://#escape">Escape Sequences</a>
        </li>
        <li>
            <a href="https://#operations">String Operations</a>
        </li>
        <li>
            <a href="https://#quiz">Quiz on Strings</a>
        </li>
    </ul>

</div>

<hr>

<h2 id="strings">What are Strings?</h2>

The following example shows a string contained within 2 quotation marks:

In [ ]:
# Use quotation marks for defining string

"Michael Jackson"

We can also use single quotation marks:

In [ ]:
# Use single quotation marks for defining string

'Michael Jackson'

A string can be a combination of spaces and digits:

In [2]:
# Digitals and spaces in string

type('1 2 3 4 5 6 ')

str

A string can also be a combination of special characters :

In [ ]:
# Special characters in string

'@#2_#]&*^%$'

We can print our string using the print statement:

In [ ]:
# Print the string

print("hello!")

We can bind or assign a string to another variable:

In [5]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

<hr>

<h2 id="index">Indexing</h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsIndex.png" width="600" align="center">

The first index can be accessed as follows:

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Because indexing starts at 0, it means the first index is on the index 0.
</div>
<hr/>

In [6]:
# Print the first element in the string

print(name[0])

M

We can access index 6:

In [8]:
# Print the element on index 6 in the string

print(name[14])

n

Moreover, we can access the 13th index:

In [4]:
# Print the element on the 13th index in the string

print(name[13])

o

<h3 id="neg">Negative Indexing</h3>

We can also use negative indexing with strings:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsNeg.png" width="600" align="center">

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [9]:
# Print the last element in the string

print(name[-1])

n

The first element can be obtained by  index -15:

In [10]:
# Print the first element in the string

print(name[-15])

M

We can find the number of characters in a string by using <code>len</code>, short for length:

In [11]:
# Find the length of string

len("Michael Jackson")

15

<h3 id="slice">Slicing</h3>

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsSlice.png" width="600" align="center">

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)
</div>
<hr/>

In [12]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [13]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

<h3 id="stride">Stride</h3>

We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsStride.png" width="600" align="center">

In [18]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2] #Michael Jackson

'ieao'

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [6]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

<h3 id="concat">Concatenate Strings</h3>

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [ ]:
# Concatenate two strings

statement = name + "is the best"
statement

To replicate values of a string we simply multiply the string by the number of times we would like to replicate it. In this case, the number is three. The result is a new string, and this new string consists of three copies of the original string:

In [19]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

You can create a new string by setting it to the original variable. Concatenated  with a new string, the result is a new string that changes from Michael Jackson to “Michael Jackson is the best".

In [ ]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

<hr>

<h2 id="escape">Escape Sequences</h2>

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [24]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

Similarly, back slash  "t" represents a tab:

In [31]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson \t is the best

If you want to place a back slash in your string, use a double back slash:

In [29]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

We can also place an "r" before the string to display the backslash:

In [30]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

<hr>

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [32]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print(a)
print("After upper:", b)

before upper: Thriller is the sixth studio album
Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

Let's try with the method <code>lower</code>; this method converts upper case characters to lower case characters:

In [33]:
# Convert all the characters in string to lower case
a = "MICHAEL JACKSON IS THE BEST"
print("Before lower:", a)
b = a.lower()
print("After lower:", b)

Before lower: MICHAEL JACKSON IS THE BEST
After lower: michael jackson is the best

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [38]:
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [43]:
# Replace the old substring with the new target substring by removing some punctuations.

a = "Hello! Michael Jackson has: 12 characters."
print(a)
b = a.replace('!','').replace(':','').replace('.','')
print(b)

Hello! Michael Jackson has: 12 characters.
Hello  Michael Jackson has 12 characters

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsFind.png" width="600" align="center">

In [45]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('a')

4

In [ ]:
# Find the substring in the string.

name.find('Jack')

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [46]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

The method <code>Split</code> splits the string at the specified separator, and returns a list:

In [50]:
#Split the substring into list
name = "Michael Jackson"
split_string = (name.split())
split_string

['Michael', 'Jackson']

## RegEx

In Python, RegEx (short for Regular Expression) is a tool for matching and handling strings.

This RegEx module provides several functions for working with regular expressions, including <code>search, split, findall,</code> and <code>sub</code>.

Python provides a built-in module called <code>re</code>, which allows you to work with regular expressions. 
First, import the <code>re</code> module

In [52]:
import re

The search() function searches for specified patterns within a string. Here is an example that explains how to use the search() function to search for the word "Jackson" in the string "Michael Jackson is the best".

In [56]:
s1 = "Michael Jackson is the best"

# Define the pattern to search for
pattern = r"Jackson"

# Use the search() function to search for the pattern in the string
result = re.search(pattern, s1)

# Check if a match was found
if result:
    print("Match found!")
else:
    print("Match not found.")

Match not found.

Regular expressions (RegEx) are patterns used to match and manipulate strings of text. There are several special sequences in RegEx that can be used to match specific characters or patterns.

| Special Sequence | Meaning                 | 	Example             |
| -----------  | ----------------------- | ----------------------|
| \d|Matches any digit character (0-9)|"123" matches "\d\d\d"|
|\D|Matches any non-digit character|"hello" matches "\D\D\D\D\D"|
|\w|Matches any word character (a-z, A-Z, 0-9, and _)|"hello_world" matches "\w\w\w\w\w\w\w\w\w\w\w"|
|\W|Matches any non-word character|	"@#$%" matches "\W\W\W\W"|
|\s|Matches any whitespace character (space, tab, newline, etc.)|"hello world" matches "\w\w\w\w\w\s\w\w\w\w\w"|
|\S|Matches any non-whitespace character|"hello_world" matches "\S\S\S\S\S\S\S\S\S"|
|\b|Matches the boundary between a word character and a non-word character|"cat" matches "\bcat\b" in "The cat sat on the mat"|
|\B|Matches any position that is not a word boundary|"cat" matches "\Bcat\B" in "category" but not in "The cat sat on the mat"|

Special Sequence Examples:

A simple example of using the <code>\d</code> special sequence in a regular expression pattern with Python code:

In [58]:
pattern = r"\d\d\d\d\d\d\d\d\d\d"  # Matches any ten consecutive digits
text = "My Phone number is 1234567890"
match = re.search(pattern, text)

if match:
    print("Phone number found:", match.group())
else:
    print("No match")

No match

The regular expression pattern is defined as r"\d\d\d\d\d\d\d\d\d\d", which uses the \d special sequence to match any digit character (0-9), and the \d sequence is repeated ten times to match ten consecutive digits

A simple example of using the <code>\W</code> special sequence in a regular expression pattern with Python code:

In [60]:
pattern = r"\W"  # Matches any non-word character
text = "Hello, world!"
matches = re.findall(pattern, text)

print("Matches:", matches)

Matches: [',', ' ', '!']

The regular expression pattern is defined as r"\W", which uses the \W special sequence to match any character that is not a word character (a-z, A-Z, 0-9, or _). The string we're searching for matches in is "Hello, world!".

The <code>findall()</code> function finds all occurrences of a specified pattern within a string.

In [61]:
s2 = "Michael Jackson was a singer and known as the 'King of Pop'"


# Use the findall() function to find all occurrences of the "as" in the string
result = re.findall("as", s2)

# Print out the list of matched words
print(result)

['as', 'as']

A regular expression's <code>split()</code> function splits a string into an array of substrings based on a specified pattern.

In [62]:
# Use the split function to split the string by the "\s"
split_array = re.split("\s", s2)

# The split_array contains all the substrings, split by whitespace characters
print(split_array)

['Michael', 'Jackson', 'was', 'a', 'singer', 'and', 'known', 'as', 'the', "'King", 'of', "Pop'"]

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_7967/2622888280.py:2: SyntaxWarning: invalid escape sequence '\s'
  split_array = re.split("\s", s2)

The <code>sub</code> function of a regular expression in Python is used to replace all occurrences of a pattern in a string with a specified replacement.

In [ ]:
# Define the regular expression pattern to search for
pattern = r"King of Pop"

# Define the replacement string
replacement = "legend"

# Use the sub function to replace the pattern with the replacement string
new_string = re.sub(pattern, replacement, s2, flags=re.IGNORECASE)

# The new_string contains the original string with the pattern replaced by the replacement string
print(new_string)

<hr>

<h2 id="quiz">Quiz on Strings</h2>

What is the value of the variable <code>a</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute 

a = "1"

<details><summary>Click here for the solution</summary>

```python
"1"

```

</details>

What is the value of the variable <code>b</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute

b = "2"

<details><summary>Click here for the solution</summary>

```python
"2"

```

</details>

What is the value of the variable <code>c</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute 

c = a + b

<details><summary>Click here for the solution</summary>

```python
"12"

```

</details>

<hr>

Consider the variable <code>d</code> use slicing to print out the first three elements:

In [ ]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"

<details><summary>Click here for the solution</summary>

```python
print(d[:3]) 

# or 

print(d[0:3])

```

</details>

<hr>

Use a stride value of 2 to print out every second character of the string <code>e</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'

<details><summary>Click here for the solution</summary>

```python
print(e[::2])

```

</details>

<hr>

Print out a backslash:

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
print("\\\\\\\\")

or

print(r"\ ")

```

</details>

<hr>

Convert the variable <code>f</code> to uppercase:

In [ ]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"

<details><summary>Click here for the solution</summary>

```python
f.upper()

```

</details>

Convert the variable <code>f2</code> to lowercase:

In [ ]:
# Write your code below and press Shift+Enter to execute
f2="YOU ARE RIGHT"

<details><summary>Click here for the solution</summary>

```python
f2.lower()

```

</details>

<hr>

Consider the variable <code>g</code>, and find the first index of the sub-string <code>snow</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

<details><summary>Click here for the solution</summary>

```python
g.find("snow")

```

</details>

In the variable <code>g</code>, replace the sub-string <code>Mary</code> with <code>Bob</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
g.replace("Mary", "Bob")

```

</details>

In the variable <code>g</code>, replace the sub-string <code>,</code> with <code>.</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
g.replace(',','.')

```

</details>

In the variable <code>g</code>, split the substring to list:

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
g.split()

```

</details>

In the string <code>s3</code>, find the four consicutive digit character using <code>\d</code> and <code>search() </code>function:

In [ ]:
s3 = "House number- 1105"

# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
# Use the search() function to search for the "\d" in the string
result = re.search("\d", s3)

# Check if a match was found
if result:
    print("Digit found")
else:
    print("Digit not found.")
```

</details>

In the string <code>str1</code>, replace the sub-string <code>fox</code> with <code>bear</code> using <code>sub() </code>function:

In [ ]:
str1= "The quick brown fox jumps over the lazy dog."

# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
# Use re.sub() to replace "fox" with "bear"
new_str1 = re.sub(r"fox", "bear", str1)

print(new_str1)
```

</details>

In the string <code>str2</code> find all the occurrences of <code>woo</code> using <code>findall()</code> function:

In [ ]:
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
# Use re.findall() to find all occurrences of "woo"
matches = re.findall(r"woo", str2)

print(matches)
```

</details>

<hr>
<h2>The last exercise!</h2>
<p>Congratulations, you have completed your first lesson and hands-on lab in Python.
<hr>

## Author

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01" target="_blank">Joseph Santarcangelo</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                  |
| ----------------- | ------- | ---------- | ----------------------------------- |
| 2022-12-28        | 2.2     | Pratiksha  | Updated exercises                    |
| 2022-01-10        | 2.1     | Malika     | Removed the readme for GitShare     |
| 2020-11-11        | 2.1     | Aije       | Updated variable names to lowercase |
| 2020-08-26        | 2.0     | Lavanya    | Moved lab to course repo in GitLab  |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>